<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<style type="text/css">
    content {
        max-width: 1000px;
        margin: auto;
    }


</style>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Потяги (WEB Lab#3-5)</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/logout}">Вийти з системи</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<h1>Перелік потягів (WEB Lab#3-5 )</h1>
<h2>Добрий день, <span th:text="${username}"></span>!</h2>
<h2>Ваша роль:<span th:text="${roles}"></span></h2>
<br>
<p th:if="${title != null}" style="color: red">
    <span th:text="${title}"></span>
</p>
<br>
<div style="display: flex; align-items: center;">
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <form action="/trains/new" method="GET">
            <button accesskey="d">Додати Потяг</button>
        </form>
    </div>
    <div>
        <p>
            <b><label for="vr_filter"> Фільтр за варінтом руху </label></b>
            <select id="vr_filter" name="vr_filter" onchange="filterByVR()">
                <option value="всі">всі</option>
                <option th:each="vr : ${T(ntukhpi.ddy.webjavaddylab3.enums.variantRuhu).values()}"
                        th:value="${vr}" th:text="${vr.getDisplayName()}"></option>
            </select>
        </p>
    </div>
    <div>
        <button onclick="sortTableByIndex(0)">Сортування за номер потягу</button>
    </div>
    <div>
        <button onclick="sortTableValueDur()">Сортування за часом у дорозі</button>
    </div>
    <div>
        <button onclick="sortTableByIndex(1)">Сортування за місцев відправки</button>
    </div>
    <div>
        <b><label for="search-text"> Пошук за місцем прибуття </label></b>
        <input type="text" placeholder="Введіть місто" id="search-text" onkeyup="tableSearch()">
    </div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <form action="/sendMailWithAttachment" method="POST">
            <b><label for="email"> Відправити звіт на почту </label></b>
            <input type="email" placeholder="Уведіть почту" name="recipient" id="email" >
            <button accesskey="d"> Відправити </button>
        </form>
    </div>
    <div>
        <form th:action="@{/trains}">
            <button type="submit" accesskey="x">Скинути</button>
        </form>
    </div>
</div>
<br>
<table id="trains-table" class="table">
    <tr>
        <th>Номер</th>
        <th>Місце відправки</th>
        <th>Місце прибуття</th>
        <th>Варіант руху</th>
        <th>Час відправки</th>
        <th>Час у дорозі</th>
        <th colspan="4">Операції</th>
    </tr>
    <tr th:each="train: ${trains}">
        <td th:text="${train.getNumber()}"></td>
        <td th:text="${train.getPointVid()}"></td>
        <td th:text="${train.getPointDo()}"></td>
        <td th:text="${train.getVRName()}"></td>
        <td th:text="${train.getTimeToGo()}"></td>
        <td th:text="${train.getDuration()}"></td>
        <td>
            <form th:action="@{/trains/ticket/{id} (id=${train.id})}" >
                <button type="submit">  Замовити квиток   </button>
            </form>
        </td>
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <td>
            <form th:action="@{/trains/tickets/{id} (id=${train.id})}" >
                <button type="submit">   Переглянути усі квитки на потяг   </button>
            </form>
        </td>
        <td>
            <form th:action="@{/trains/edit/{id} (id=${train.id})}" >
                <button type="submit">  Редагувати  </button>
            </form>
        </td>
        <td>
            <form th:action="@{/trains/del/{id} (id=${train.id})}" >
                <button type="submit" onclick="return confirmation()">   Вилучити   </button>
            </form>
        </td>
        </div>
    </tr>
</table>
</body>
<script type="text/javascript">
    function confirmation() {
        return confirm('Ви впевнені, що хочете вилучити дані? Але, якщо у потягу є  квитки ви не зможете видалити його.');
    }

    function tableSearch() {
        document.getElementById('vr_filter').selectedIndex = 0;
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('trains-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = regPhrase.test(table.rows[i].cells[2].innerHTML);
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }
        }
    }

    // For sorting
    function sortTableValueDur() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("trains-table");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[5];
                y = rows[i + 1].getElementsByTagName("TD")[5];
                if ((x.innerHTML.length > y.innerHTML.length)
                    || ((x.innerHTML.length === y.innerHTML.length) && (x.innerHTML > y.innerHTML))
                ) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function sortTableByIndex(col_index) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("trains-table");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[col_index];
                y = rows[i + 1].getElementsByTagName("TD")[col_index];

                // Use localeCompare for case-insensitive string comparison
                var compareResult = x.innerHTML.localeCompare(y.innerHTML, 'uk-UA', { sensitivity: 'base' });

                if (compareResult > 0) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function filterByVR() {
        var vrSelect = document.getElementById('vr_filter').selectedIndex;
        var vrOptions = document.getElementById('vr_filter').options;
        if (vrOptions[vrSelect].text != "всі") {
            var table = document.getElementById('trains-table');
            for (var i = 1; i < table.rows.length; i++) {
                if (vrOptions[vrSelect].text === table.rows[i].cells[3].innerHTML) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                }
            }
        } else {
            var table = document.getElementById('trains-table');
            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].style.display = "";
            }
        }
    }
</script>
</html>
